.reveal table {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: auto; 
	line-height: 1;
	border-collapse: collapse;
	font-size: 28px;
}

.admonitionblock table{
	margin-left: 0px
}
.admonitionblock td {
    text-align: left;
    font-size:36px;
}

.admonitionblock td.icon{
	width:80px;
    text-align: center;
    color:#19407c;
}

.admonitionblock table td.content{
	padding-left:1.125em;
	padding-right:1.25em;
	border-left:1px solid #dddddf;
	color:rgba(0,0,0,.6)
}